.main {
  max-width: 1280px;
  margin: 90px auto;
}

.firstcontainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headings {
  line-height: 1.2;
  margin-bottom: 1.1rem;
}

.text {
  text-align: left;
}

.discription {
  line-height: 1.4;
  margin-bottom: 1rem;
}

.exclamation {
  font-weight: 600;
}

.mainPhoto {
  width: 800px;
}

.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
